# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
.nitro/
.cache/
dist/

# IDE
.idea/
*.iml

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal
*.db-wal

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Build
dist/
